
body{
    margin:0px;
}
.Container{
    display: flex;
}
.Sidebar{
    background-color:aquamarine;
    width: 20%;
    transition: 1s;
    height: 1000px;
}
.Content{
    background-color:salmon;
    width: 80%;
    transition: 1s;
    overflow: hidden;
}
.btnclose{
    animation: close 1s;
}
.Sidebar-logo{
    height: 30px;
}
.btnopen{
    display: none;
    animation: open 1s;
}
@keyframes open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes close {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}