*{
    margin:0;
}
::-webkit-scrollbar{
    background:none;
    opacity: 10%;
    border-radius: 20px;
    width:10px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #fd9c9e;
    border-radius: 10px;
    opacity: 0.5;
  }
.Menu{
  display: flex;
  justify-content:center;
  align-items:center;
}
.Menu__Container{
  width:1440px;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Menu__Container__Header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0px 100px;
}
.Menu__Container__Header__Right{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 740px;
  height: 60px;
  padding:20px;
}
.Menu__Container__Header__Right a{
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Inter';
  padding:10px;
}
.Menu__Container__Header__Right input{
  width:240px ;
  height: 60px;
  border-radius: 96px;
  border:3px solid #000000;
  background: none;
  padding-left: 90px;
  font-size:24px;
  background-image: url(../Image/Icon/SearchBlack.svg) ;
  background-position:15px ;
  background-repeat: no-repeat;
  outline: none;
}
.Menu__Container__Header__Right input::placeholder{
  color: #000000;
  font-weight: 400;
}
.Menu__Container__Header__Right--Language{
  background: none;
  border: none;
  color: #000000;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
  font-size: 24px;
  font-weight: 400;
  padding:10px;
  font-family: 'Inter';
}
.Menu__Container__Header__Right--More{
  position: relative;
  background: none;
  border: none;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar1{
  transform: translate(0, 11px) rotate(-45deg);
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar2{
  opacity: 0;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar3{
  transform: translate(0, -11px) rotate(45deg);
}
.Menu__Container__Header__Right--More--bar1,.Menu__Container__Header__Right--More--bar2,.Menu__Container__Header__Right--More--bar3 {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}
.Menu__Container__Header__Right--More--list{
  list-style:none;
  padding-left: 0px;
  padding: 10px 0;
  font-family: 'Inter';
  color: white;
  font-weight:400;
  position: absolute;
  left:-130px;
  text-align: right;
  z-index: 1;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  width:max-content;
  display: none;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--list{
  display: block;
}
.Menu__Container__Header__Right--More--list >li >a{
  font-size: 18px;
  padding:0;
}
.Menu__Container__Header__Right--More--list--1, .Menu__Container__Header__Right--More--list--2,.Menu__Container__Header__Right--More--list--3,.Menu__Container__Header__Right--More--list--4{
  padding:5px 5px;
  position: relative;
}
.Menu__Container__Header__Right--More--list >li:hover{
  background: rgba(8, 255, 78, 0.25);
}
.Menu__Container__Header__Right--More--list--1--1_1{
  position:absolute;
  right: 165px;
  top:0px;
  list-style: none;
  background-color: rgba(42, 66, 67, 0.25);
  border-radius: 10px;
  display: none;
}
.Menu__Container__Header__Right--More--list--1:hover .Menu__Container__Header__Right--More--list--1--1_1{
  display: block;
}
.Menu__Container__Header__Right--More--list--1--1_1 a, li{
  font-size:18px;
  font-weight:400;
  font-family: 'Inter';
  padding:5px 5px;
}
.Menu__Container__Header__Right--More--list--1--1_1 >li:hover{
  background: rgba(8, 255, 78, 0.25);
}
.Menu__Container__Content{
  display: flex;
  justify-content:center;
  align-items:center;
  position: relative;
}
.Menu__Container__Content--Center{
    width: 720px;
    height: 300px;
}
.Menu__Container__Content--Center >p:first-child{
    text-transform: uppercase; 
    font-family: 'Inter';
    font-weight: 700;
    font-size: 80px;
    color: #4b4b4b;
    text-shadow: 10px 8px 5px rgba(0,0,0,0.25);
}
.Menu__Container__Content--Center >p:nth-child(2)
{
    color:red;
    font-size: 96px;
    font-family: 'Handlee';
    font-weight: 400;
    text-align: center;
}
.Menu__Container__Content--Center--Tourist{
    padding:0 40px;
    width: max-content;
    position: relative;
    left: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    text-transform: uppercase;
    color:#FFFFFF;

    text-shadow: 5px 5px 5px rgba(0,0,0,0.25);

    background-color: #FFE5E5;
}
.Menu__Container__Image{
    display: flex;
    justify-content: center;
    position: relative;
    margin:10px 0px 50px 0;
}
.Menu__Container__Image--Big{
    width: 1270px;
    height: 610px;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
    border-radius: 20px;
    background-image: url(../Image/Picture/CauRong.jpg);
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.25) ;
}
.Menu__Container__Image--Tower{
    position:absolute;
    top:-23%;
    left: 43.5%;
}
.Destination{
    display: flex;
    justify-content: center;
}
.Destination__Container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width:1440px;
    height: 2600px;
    background: none;
    background-color: rgba(112,210,255,0.5);
}
.Destination__Container__Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.Destination__Container__Title >p:first-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    color: #747474;
    text-transform: uppercase;
    position: relative;
    left:-100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.Destination__Container__Title >p:nth-child(2n){
    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    color: rgba(85,205,221,1);
    padding:0 10px 20px ;
    background: #FFE5E5;
    width: max-content;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.Destination__Container__Title >p:last-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    -webkit-text-stroke: 2px #ff0000;
    color:transparent;
    text-transform: uppercase;
    width:max-content;
    padding-right:90px;
    background-image: url(../Image/Icon/Flag.svg) ;
    background-repeat: no-repeat;
    background-position:right 55%;
    position: relative;
    right:-200px;
}
svg{
  transform: scale(2.5);
  position: relative;
  top:600px;
  left: -200px;
  fill:#EDCECE;
  stroke: #f4f4f4;
}
path{
  fill: #EDCECE;
}
path:hover{
  fill: #ec7676;
  transition: .5s;
}
/* .Destination__Container__Test{
  width: 300px;
  height: 300px;
  background-color: rgb(7, 51, 227);
  display: none;
} */
.Content__Destination{
  margin:-50px 0px;
  width:400px;
  display:flex;
  flex-direction:column ;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left:30px;
  top:30px;
  max-height: 600px;
  overflow: hidden;
}
.Content__Destination--image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content__Destination--image img{
 padding:0px;
 border-radius: 10px;
 max-width:400px; 
 max-height: 400px
}
.Content__Destination p{
 margin:10px 20px;
 font-size: 18px;
 font-family: 'Inter';
 font-weight: 400;
}
.Destination-Top{
  position: relative;
}
.Destination-Top__Item1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  top:-750px;
  left:200px;
}
.Destination-Top__Item1--Image{
  max-height: 260px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items:center;
  border:4px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  margin:10px;
}
.Destination-Top__Item1--Image img{
  max-width: 375px;
  max-height: 260px;
  border-radius: 5px;
}
.Destination-Top-Item1__Content{
  margin: 10px;
  -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255,0));
}
.Destination-Top-Item1__Content-p{
  max-height: 200px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding:10px;
  text-align: justify;

  color: #FFFFFF;

  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.Destination-Top__Item1--btn{
  background:none;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter';
  color: rgba(177, 173, 173, 0.5);
  padding-top:40px;
  background-image: url(../Image/Icon/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px;
  position: relative;
  top:-50px;
  cursor: pointer;
}
.Destination-Top__Item2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  top:-200px;
  left:50px;
}
.Destination-Top__Item2--Image{
  max-height: 260px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items:center;
  border:4px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  margin:10px;
}
.Destination-Top__Item2--Image img{
  max-width: 375px;
  max-height: 260px;
  border-radius: 5px;
}
.Destination-Top-Item2__Content{
  margin: 10px;
  position: absolute;
  top:300px;
  left:150px;
  width: 450px;
  -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255,0))
}
.Destination-Top-Item2__Content-p{
  max-height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding:10px;
  text-align: right;
  color: #ffffff;
  overflow: hidden;

  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.Destination-Top__Item2--btn{
  background:none;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter';
  color: rgba(177, 173, 173, 0.5);
  padding-top:40px;
  background-image: url(../Image/Icon/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px;
  position: relative;
  top:200px;
  left: 200px;
  cursor: pointer;
}
.Destination-Top__Item3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  top:400px;
  left:300px;
}
.Destination-Top__Item3--Image{
  max-height: 260px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items:center;
  border:4px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  margin:10px;
}
.Destination-Top__Item3--Image img{
  max-width: 375px;
  width: 375px;
  max-height: 260px;
  border-radius: 5px;
}
.Destination-Top-Item3__Content{
  margin: 10px;
  -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255,0))
}
.Destination-Top-Item3__Content-p{
  max-height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding:10px;
  text-align: right;
  color: #ffffff;

  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.Destination-Top__Item3--btn{
  background:none;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter';
  color: rgba(177, 173, 173, 0.5);
  padding-top:40px;
  background-image: url(../Image/Icon/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px;
  position: relative;
  top:-50px;
  cursor: pointer;
}
.Destination-Top__Item4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  top:900px;
  left:100px;
}
.Destination-Top__Item4--Image{
  max-height: 260px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items:center;
  border:4px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  margin:10px;
}
.Destination-Top__Item4--Image img{
  max-width: 375px;
  width: 375px;
  height: 260px;
  max-height: 260px;
  border-radius: 5px;
}
.Destination-Top-Item4__Content{
  margin: 10px;
  width: 500px;
  -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255,0))
}
.Destination-Top-Item4__Content-p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding:10px;
  text-align: left;
  color: #ffffff;

  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.Destination-Top__Item4--btn{
  background:none;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter';
  color: rgba(177, 173, 173, 0.5);
  padding-top:40px;
  background-image: url(../Image/Icon/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px;
  position: relative;
  top:-50px;
  cursor: pointer;
}
.Destination-Top__Item5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  right: 200px;
}
.Destination-Top__Item5--Image{
  max-height: 260px;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items:center;
  border:4px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
  margin:10px;
}
.Destination-Top__Item5--Image img{
  max-width: 375px;
  width: 375px;
  height: 260px;
  max-height: 260px;
  border-radius: 5px;
}
.Destination-Top-Item5__Content{
  margin: 10px;
  width: 500px;
  -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255,0))
}
.Destination-Top-Item5__Content-p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding:10px;
  text-align: right;
  color: #ffffff;

  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.Destination-Top__Item5--btn{
  background:none;
  border:none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter';
  color: rgba(177, 173, 173, 0.5);
  padding-top:40px;
  background-image: url(../Image/Icon/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px;
  position: relative;
  top:-50px;
  cursor: pointer;
}
.Banner{
    display: flex;
    justify-content:center;
    align-items:center;
}
.Banner__Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    width: 1440px;
    height: 690px;
    background-image: url(../Image/Picture/DaNangCity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -90px 50px rgba(0, 0, 0, 0.25), inset 0px 90px 45px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: contrast(0.9)
}
.Banner__Container__Header{
    margin-top: 100px;
  }
  .Banner__Container__Header--Discover{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
  
    color: #FFFFFF;
  
    text-shadow: 10px 8px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    left:-230px;
  }
  .Banner__Container__Header--VietNam{
  
    font-family: 'Hachi Maru Pop';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;
    /* identical to box height */
  
    letter-spacing: 0.39em;
  
    color: #FF0000;
  
    text-shadow: 10px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .Banner__Container__Header--WithUs{
    position: relative;
    right:-355px ;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  
    text-shadow: 10px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .Banner__Container__Content--item{
    width: 1094px;
    height: 108px;
    left: 173px;
    top: 4795px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  
    color: #EDCECE;
  
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .Banner__Container__Button >button{
    width: 276px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: white;
  
    background: #FF8888;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
  }
  .Banner__Container__Button >button:focus{
    background-color: #72f8c2;
  }
  .Footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Footer__Container{
    width: 1440px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .Footer__Container__Top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#222222;
  }
  .Footer__Container__Top__Left__Top--Phone{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding:10px 30px;
  }
  .Footer__Container__Top__Left__Top--Phone--Call{
    display: flex;
    align-items: center;
  }
  .Footer__Container__Top__Left__Top--Phone--Call p{
    color:#CE1515;
    font-size: 30px;
    font-weight:700;
    font-family: 'Inter';
    padding-right:20px;
  }
  .Footer__Container__Top__Left__Top--Phone--Tel{
    color: #dfdfdf; ;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
  }
  .Footer__Container__Top__Left--Button{
    color: #dfdfdf;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    padding:10px 30px;
  }
  .Footer__Container__Top__Left--Button >a{
    text-decoration: none;
    color: #dfdfdf;
  }
  .Footer__Container__Top__Left--Button--Email{
    color:#CE1515;
    font-size: 30px;
  }
  .Footer__Container__Top__Right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding:0 50px;
  }
  .Footer__Container__Top__Right--Item{
    padding:0 30px;
  }
  .Footer__Container__Top__Right--Item--List{
    list-style: none;
    color: #dfdfdf;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    padding-left: 0px;
  }
  .Footer__Container__Top__Right--Item--List li:first-child{
    font-size: 24px;
    padding-bottom:10px;
  }
  .Footer__Container__Top__Right--Item--List li {
    padding:5px 0;
  }
  .Footer__Container__Top__Right--Item--List li>a {
    padding:5px 0;
    text-decoration: none;
    color: #dfdfdf;
  }
  
  .Footer__Container__Top__Right--Pay{
    width: 260px;
    padding:0 30px;
  }
  .Footer__Container__Top__Right--Pay--Header{
    color: white;
    font-size:24px;
    font-weight:700 ;
    font-family: 'Inter';
    padding-bottom: 20px;
  }
  .Footer__Container__Top__Right--Pay--Content{
    font-size:18px;
    font-family: 'Inter';
    font-weight: 700;
    color: #dfdfdf;
  
  }
  .Footer__Container__Top__Right--Pay--Card img{
    padding:20px;
  }
  .Footer__Container__Button{
    height:100px;
    width:100%;
    background-color: #181818;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Footer__Container__Button--Left{
    color: #6d6d6d;
    font-size: 18px;
    font-weight:500;
    font-family: 'Inter';
  }
  .Footer__Container__Button--Right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6d6d6d;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
  }
  