*{
  margin:0px;
 
  
}
::-webkit-scrollbar{
  background:none;
  opacity: 10%;
  border-radius: 20px;
  width:10px;
}
::-webkit-scrollbar-thumb{
  background-color: #fd9c9e;
  border-radius: 10px;
  opacity: 0.5;
}
.Menu{
  display: flex;
  justify-content:center;
  align-items:center;
  position: relative;
}
.Menu__background{
  display: flex;
  justify-content:center;
  align-items:center;
  width:1440px;
  height: 740px;
  animation: sliders 60s ;
  animation-iteration-count:infinite;
  filter: blur(5px);
}
@keyframes sliders{
  0%{
    background-image: url(../Image/Picture/DaNang.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1440px 740px;
  }
  20%{
    background-image: url(../Image/Picture/CauRong.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1440px 740px;
  }
  40%{
    background-image: url(../Image/Picture/SonDoong.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:1440px 740px;
  }
  60%{
    background-image: url(../Image/Picture/CanTho.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1440px 740px;
  }
  80%{
    background-image: url(../Image/Picture/GoldenBridge.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1440px 740px;
  }
  100%{
    background-image: url(../Image/Picture/BinhThuan.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1440px 740px;
  }
}
.Menu__Container{
  width:1440px;
  height: 740px;
  position: absolute;
  /* background-color: aqua; */

}
.Menu__Container__Header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0px 100px;
}
.Menu__Container__Header__Right{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: fit-content;
  height: 60px;
  padding:20px;
}
.Menu__Container__Header__Right a{
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Inter';
  padding:20px;
}
.Menu__Container__Header__Right input{
  width:240px ;
  height: 60px;
  border-radius: 96px;
  border:3px solid #fff;
  background: none;
  padding-left: 70px;
  font-size:24px;
  background-image: url(../Image/Icon/Search.svg) ;
  background-position:15px ;
  background-repeat: no-repeat;
  outline: none;
  color: white;
  transition: .5s;
}
.Menu__Container__Header__Right input:focus{
  width:400px;
}
.Menu__Container__Header__Right input::placeholder{
  color: #fff;
  font-weight: 400;
}
.Menu__Container__Header__Right--Language{
  background: none;
  border: none;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
  font-size: 24px;
  font-weight: 400;
  padding:10px;
  font-family: 'Inter';
  outline: none;
}
.Menu__Container__Header__Right--More{
  position: relative;
  background: none;
  border: none;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar1{
  transform: translate(0, 11px) rotate(-45deg);
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar2{
  opacity: 0;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--bar3{
  transform: translate(0, -11px) rotate(45deg);
}
.Menu__Container__Header__Right--More--bar1,.Menu__Container__Header__Right--More--bar2,.Menu__Container__Header__Right--More--bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
.Menu__Container__Header__Right--More--list{
  list-style:none;
  padding-left: 0px;
  padding: 10px 0;
  font-family: 'Inter';
  color: white;
  font-weight:400;
  position: absolute;
  left:-130px;
  text-align: right;
  z-index: 1;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  width:max-content;
  display: none;
}
.Menu__Container__Header__Right--More:hover .Menu__Container__Header__Right--More--list{
  display: block;
}
.Menu__Container__Header__Right--More--list >li >a{
  font-size: 18px;
  padding:0;
}
.Menu__Container__Header__Right--More--list--1, .Menu__Container__Header__Right--More--list--2,.Menu__Container__Header__Right--More--list--3,.Menu__Container__Header__Right--More--list--4{
  padding:5px 5px;
  position: relative;
}
.Menu__Container__Header__Right--More--list >li:hover{
  background: rgba(8, 255, 78, 0.25);
}
.Menu__Container__Header__Right--More--list--1--1_1{
  position:absolute;
  right: 165px;
  top:0px;
  list-style: none;
  background-color: rgba(42, 66, 67, 0.25);
  border-radius: 10px;
  display: none;
}
.Menu__Container__Header__Right--More--list--1:hover .Menu__Container__Header__Right--More--list--1--1_1{
  display: block;
}
.Menu__Container__Header__Right--More--list--1--1_1 a, li{
  font-size:18px;
  font-weight:400;
  font-family: 'Inter';
  padding:5px 5px;
}
.Menu__Container__Header__Right--More--list--1--1_1 >li:hover{
  background: rgba(8, 255, 78, 0.25);
}
.Menu__Container__Content{
  width: 100%;
  display: flex;
  justify-content:flex-end;
}
.Menu__Container__Content--Title{
  margin-right: 100px;
  width: 630px;
  height: 200px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: justify;

  color: #FFFFFF;

  text-shadow: 10px 8px 5px rgba(0, 0, 0, 0.25);
}
.Menu__Container__Content--Title p >span:first-child{
  color:#48DEFF;
}
.Menu__Container__Content--Title p >span:last-child{
  color:#F93333;
}
.Container{
  display: flex;
  justify-content:center;
  align-items: center;
}
.Container-Content{
  display: flex;
  width: 1442px;
  height: 1000px;
  flex-direction: column;
  background-color: rgb(248, 226, 230); 
  justify-content: center;
}
.Container-Content-Title{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 50px;
}
.Container-Content-Title1{
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  
}
.Container-Content-Title2{
  font-family: 'Inter';
}
.Container-Content-Activities{
  display: flex;
  justify-content:space-around;
  align-items:center;
  margin: 100px 50px;
}
.Container-Content-Activitie-Items{
  width: 350px;
  height: 500px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  transform: scale(1);
  transition: .5s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.Container-Content-Activitie-Items:hover{
  transform: scale(1.2);
}
.Container-Content-Activitie-Items--1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Container-Content-Activitie-Items--1 u{
  color:#dfdfdf;
  font-size: 24px;
  font-family: 'Inter';
  text-shadow:1px 1px 5px #222222;
  padding:10px;
}
.Container-Content-Activitie-Items--2{
  overflow-y: scroll;
  height: 100px;
  padding:10px;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  margin:10px;
  transition: .5s;
}
.Container-Content-Activitie-Items:hover .Container-Content-Activitie-Items--2{
  height: 200px;
}
.Active-item-1,.Active-item-2,.Active-item-3{
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Active-item-1{
  background-image: url(../Image/Picture/dia_diem_cheo_thuyen_kayak_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.Active-item-2{
  background-image: url(../Image/Picture/Tourist-ride-a-water-buffalo-in-Vietnam-@moshichubby.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.Active-item-3{
  background-image: url(../Image/Picture/han-son-doong.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.Activitie-Items-btn{
  margin:5px 0;
  padding:10px;
  font-size:24px;
  font-weight: 700;
  font-family: 'Inter';
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border:none;
  background-color:#F0E709;
}
/* #Container-Content-Activities{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 30px;
  justify-content: flex-start;
}
.Container-Content-Activitie1{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 203, 210);
  width: 439px;
  height: 582px;
 
}
#Container-Content-Activitie2{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 203, 210);
  width: 299px;
  height: 439px;
  margin-left: 103px;
  margin-top: 90px;
}
#Container-Content-Activitie3{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 203, 210);
  width: 299px;
  height: 439px;
  margin-left: 103px;
  margin-top: 90px;
}
#Container-Content-Activities-icon{
  margin-left: 75px;
  margin-top: 300px;

}
#Container-Content-Activitie1-item1{
  display: flex;
  flex-direction: column;
  
  width: 439px;
  height: 300px;
  background-image: url(../Image/Picture/dia_diem_cheo_thuyen_kayak_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:end;
}
#Container-Content-Activitie1-item1 >u{
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Inter';
  color: white;
  font-size: 35px;
}
#Container-Content-Activitie1-item2{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
  padding:30px;
}
#Container-Content-Activitie1-item2 >p:first-child{
  margin-bottom: 20px;
  font-size: 20px;
  text-align:justify;
  font-family:'Lucida Sans';
  color: #6d6d6d;
}
#Container-Content-Activitie1-item2 > button:last-child{
    width: 200px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    color: white;
    background: #ebeb49;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
#Container-Content-Activitie2-item1{
  display: flex;
  flex-direction: column;
  width: 299px;
  height: 239px;
  background-image: url(../Image/Picture/Tourist-ride-a-water-buffalo-in-Vietnam-@moshichubby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:end;
  background-blend-mode:darken;
}

#Container-Content-Activitie2-item1 >u{
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Inter';
  color: white;
  font-size: 15px;
}
#Container-Content-Activitie2-item2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
}
#Container-Content-Activitie2-item2 >p:first-child{
  margin-bottom: 10px;
  font-size: 20px;
  text-align:justify;
  font-family:'Lucida Sans';
  color: #6d6d6d;
}
#Container-Content-Activitie2-item2 > button:last-child{
    width: 150px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    color: white;
    background: #ebeb49;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#Container-Content-Activitie3-item1{
  display: flex;
  flex-direction: column;
  width: 299px;
  height: 239px;
  background-image: url(../Image/Picture/han-son-doong.webp);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:end;
  background-blend-mode:darken;
}

#Container-Content-Activitie3-item1 >u{
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Inter';
  color: white;
  font-size: 15px;
}
#Container-Content-Activitie3-item2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
}
#Container-Content-Activitie3-item2 >p:first-child{
  margin-bottom: 10px;
  font-size: 20px;
  text-align:justify;
  font-family:'Lucida Sans';
  color: #6d6d6d;
}
#Container-Content-Activitie3-item2 > button:last-child{
    width: 150px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    color: white;
    background: #ebeb49;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
} */
.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer__Container{
  width: 1440px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Footer__Container__Top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:#222222;
}
.Footer__Container__Top__Left__Top--Phone{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding:10px 30px;
}
.Footer__Container__Top__Left__Top--Phone--Call{
  display: flex;
  align-items: center;
}
.Footer__Container__Top__Left__Top--Phone--Call p{
  color:#CE1515;
  font-size: 30px;
  font-weight:700;
  font-family: 'Inter';
  padding-right:20px;
}
.Footer__Container__Top__Left__Top--Phone--Tel{
  color: #dfdfdf; ;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  padding: 10px;
}
.Footer__Container__Top__Left--Button{
  color: #dfdfdf;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  padding:10px 30px;
}
.Footer__Container__Top__Left--Button >a{
  text-decoration: none;
  color: #dfdfdf;
}
.Footer__Container__Top__Left--Button--Email{
  color:#CE1515;
  font-size: 30px;
}
.Footer__Container__Top__Right{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding:0 50px;
}
.Footer__Container__Top__Right--Item{
  padding:0 30px;
}
.Footer__Container__Top__Right--Item--List{
  list-style: none;
  color: #dfdfdf;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  padding-left: 0px;
}
.Footer__Container__Top__Right--Item--List li:first-child{
  font-size: 24px;
  padding-bottom:10px;
  font-weight: 700;
}
.Footer__Container__Top__Right--Item--List li {
  padding:5px 0;
}
.Footer__Container__Top__Right--Item--List li>a {
  padding:5px 0;
  text-decoration: none;
  color: #dfdfdf;
}

.Footer__Container__Top__Right--Pay{
  width: 260px;
  padding:0 30px;
}
.Footer__Container__Top__Right--Pay--Header{
  color: white;
  font-size:24px;
  font-weight:700 ;
  font-family: 'Inter';
  padding-bottom: 20px;
}
.Footer__Container__Top__Right--Pay--Content{
  font-size:18px;
  font-family: 'Inter';
  font-weight: 700;
  color: #dfdfdf;

}
.Footer__Container__Top__Right--Pay--Card img{
  padding:20px;
}
.Footer__Container__Button{
  height:100px;
  width:100%;
  background-color: #181818;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer__Container__Button--Left{
  color: #6d6d6d;
  font-size: 18px;
  font-weight:500;
  font-family: 'Inter';
}
.Footer__Container__Button--Right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #6d6d6d;
  font-size: 18px;
  font-family: 'Inter';
  font-weight: 500;
}
.Footer__Container__Button--Right a{
  margin: 5px;
}
.Footer__Container__Button--Right img:hover{
  box-shadow:0 0 10px rgb(255, 255, 255);
}
